# I confirm that this is my own work, except where clearly indicated.

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
input_data = pd.read_csv("train.csv")

In [3]:
input_data['Date'] =  pd.to_datetime(input_data['Date'])

In [4]:
input_data = input_data.drop("Id", axis=1)

In [5]:
list_of_dates = []
length = 0

In [6]:
for i in input_data["Country_Region"].unique():
    length = length + 1
    filt = input_data[input_data["Country_Region"] == i]
    list_of_dates.append((min(filt["Date"]), max(filt["Date"])))

In [46]:
new_data["Country_Region"] = new_data["Country_Region"] + "_C"

In [47]:
new_data.Province_State.fillna(new_data.Country_Region, inplace=True)

In [48]:
new_data.drop("Country_Region", axis=1, inplace=True)

In [49]:
new_data.columns = ['Location', 'Date', 'ConfirmedCases','Fatalities']

In [13]:
import datetime as dt
new_data['Date']=new_data['Date'].map(dt.datetime.toordinal)

In [14]:
new_data

            Location    Date  ConfirmedCases  Fatalities
0      Afghanistan_C  737446             0.0         0.0
1      Afghanistan_C  737447             0.0         0.0
2      Afghanistan_C  737448             0.0         0.0
3      Afghanistan_C  737449             0.0         0.0
4      Afghanistan_C  737450             0.0         0.0
...              ...     ...             ...         ...
20575     Zimbabwe_C  737511             5.0         1.0
20576     Zimbabwe_C  737512             7.0         1.0
20577     Zimbabwe_C  737513             7.0         1.0
20578     Zimbabwe_C  737514             7.0         1.0
20579     Zimbabwe_C  737515             8.0         1.0

[20580 rows x 4 columns]

In [239]:
len(new_data.Location.unique())

294

In [16]:
new_data = pd.get_dummies(new_data)

In [17]:
new_data

,Date,ConfirmedCases,Fatalities,Location_Afghanistan_C,Location_Alabama,Location_Alaska,Location_Albania_C,Location_Alberta,Location_Algeria_C,Location_Andorra_C,...,Location_Washington,Location_West Virginia,Location_Western Australia,Location_Wisconsin,Location_Wyoming,Location_Xinjiang,Location_Yunnan,Location_Zambia_C,Location_Zhejiang,Location_Zimbabwe_C
0,737446,0.0,0.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,737447,0.0,0.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,737448,0.0,0.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,737449,0.0,0.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,737450,0.0,0.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20575,737511,5.0,1.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20576,737512,7.0,1.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20577,737513,7.0,1.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20578,737514,7.0,1.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20579,737515,8.0,1.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [50]:
lockdown_dates = pd.read_csv("countryLockdownDates.csv")

In [51]:
lockdown_dates = lockdown_dates.drop("Reference", axis=1)

In [ ]:
for i in lockdown_dates["Province"].unique():
    if i not in input_data["Province_State"].unique():
        print(i)

In [52]:
lockdown_dates["Country/Region"] = lockdown_dates["Country/Region"] + "_C"

In [53]:
lockdown_dates.Province.fillna(lockdown_dates["Country/Region"], inplace=True)

In [54]:
lockdown_dates.drop("Country/Region", axis =1, inplace=True)

In [55]:
lockdown_dates

                 Province        Date  Type
0           Afghanistan_C  24/03/2020  Full
1               Albania_C  08/03/2020  Full
2               Algeria_C  24/03/2020  Full
3               Andorra_C  16/03/2020  Full
4                Angola_C  24/03/2020  Full
..                    ...         ...   ...
302           Venezuela_C  16/03/2020  Full
303             Vietnam_C  19/03/2020  Full
304  West Bank and Gaza_C  05/03/2020  Full
305              Zambia_C         NaN  None
306            Zimbabwe_C  27/03/2020  Full

[307 rows x 3 columns]

In [56]:
lockdown_map = {'None':0, 'Partial':1, 'Full':2}

lockdown_dates.Type = lockdown_dates.Type.apply(lambda x: lockdown_map.get(x))

In [ ]:
lockdown_dates.Date.fillna(0, inplace=True)

In [80]:
lockdown_dates.columns = ['Location', 'Lockdown_Date', 'Lockdown_Type']

In [81]:
merged = pd.merge(new_data, lockdown_dates, on='Location', how="left")

In [89]:
merged["Lockdown_Date"] = pd.to_datetime(merged['Lockdown_Date'])

In [92]:
date = merged["Date"]
lock_down_date = merged["Lockdown_Date"]
l_type = merged["Lockdown_Type"]

In [111]:
lockdown_status = []
for idx, value in enumerate(lock_down_date):
    if pd.isnull(value):
        lockdown_status.append(0)
    elif date[idx] < value:
        lockdown_status.append(0)
    else:
        lockdown_status.append(l_type[idx])

In [112]:
merged["Lockdown_Status "] = lockdown_status

In [114]:
print(merged[merged["Location"] == "France_C"].head(60))

      Location       Date  ConfirmedCases  Fatalities Lockdown_Date  \
8190  France_C 2020-01-22             0.0         0.0    2020-03-16
8191  France_C 2020-01-23             0.0         0.0    2020-03-16
8192  France_C 2020-01-24             2.0         0.0    2020-03-16
8193  France_C 2020-01-25             3.0         0.0    2020-03-16
8194  France_C 2020-01-26             3.0         0.0    2020-03-16
8195  France_C 2020-01-27             3.0         0.0    2020-03-16
8196  France_C 2020-01-28             4.0         0.0    2020-03-16
8197  France_C 2020-01-29             5.0         0.0    2020-03-16
8198  France_C 2020-01-30             5.0         0.0    2020-03-16
8199  France_C 2020-01-31             5.0         0.0    2020-03-16
8200  France_C 2020-02-01             6.0         0.0    2020-03-16
8201  France_C 2020-02-02             6.0         0.0    2020-03-16
8202  France_C 2020-02-03             6.0         0.0    2020-03-16
8203  France_C 2020-02-04             6.0         0.0    2020-03-16
8204  France_C 2020-02-05             6.0         0.0    2020-03-16
8205  France_C 2020-02-06             6.0         0.0    2020-03-16
8206  France_C 2020-02-07             6.0         0.0    2020-03-16
8207  France_C 2020-02-08            11.0         0.0    2020-03-16
8208  France_C 2020-02-09            11.0         0.0    2020-03-16
8209  France_C 2020-02-10            11.0         0.0    2020-03-16
8210  France_C 2020-02-11            11.0         0.0    2020-03-16
8211  France_C 2020-02-12            11.0         0.0    2020-03-16
8212  France_C 2020-02-13            11.0         0.0    2020-03-16
8213  France_C 2020-02-14            11.0         0.0    2020-03-16
8214  France_C 2020-02-15            12.0         1.0    2020-03-16
8215  France_C 2020-02-16            12.0         1.0    2020-03-16
8216  France_C 2020-02-17            12.0         1.0    2020-03-16
8217  France_C 2020-02-18            12.0         1.0    2020-03-16
8218  France_C 2020-02-19            12.0         1.0    2020-03-16
8219  France_C 2020-02-20            12.0         1.0    2020-03-16
8220  France_C 2020-02-21            12.0         1.0    2020-03-16
8221  France_C 2020-02-22            12.0         1.0    2020-03-16
8222  France_C 2020-02-23            12.0         1.0    2020-03-16
8223  France_C 2020-02-24            12.0         1.0    2020-03-16
8224  France_C 2020-02-25            14.0         1.0    2020-03-16
8225  France_C 2020-02-26            18.0         2.0    2020-03-16
8226  France_C 2020-02-27            38.0         2.0    2020-03-16
8227  France_C 2020-02-28            57.0         2.0    2020-03-16
8228  France_C 2020-02-29           100.0         2.0    2020-03-16
8229  France_C 2020-03-01           130.0         2.0    2020-03-16
8230  France_C 2020-03-02           191.0         3.0    2020-03-16
8231  France_C 2020-03-03           204.0         4.0    2020-03-16
8232  France_C 2020-03-04           285.0         4.0    2020-03-16
8233  France_C 2020-03-05           377.0         6.0    2020-03-16
8234  France_C 2020-03-06           653.0         9.0    2020-03-16
8235  France_C 2020-03-07           949.0        11.0    2020-03-16
8236  France_C 2020-03-08          1126.0        19.0    2020-03-16
8237  France_C 2020-03-09          1209.0        19.0    2020-03-16
8238  France_C 2020-03-10          1784.0        33.0    2020-03-16
8239  France_C 2020-03-11          2281.0        48.0    2020-03-16
8240  France_C 2020-03-12          2281.0        48.0    2020-03-16
8241  France_C 2020-03-13          3661.0        79.0    2020-03-16
8242  France_C 2020-03-14          4469.0        91.0    2020-03-16
8243  France_C 2020-03-15          4499.0        91.0    2020-03-16
8244  France_C 2020-03-16          6633.0       148.0    2020-03-16
8245  France_C 2020-03-17          7652.0       148.0    2020-03-16
8246  France_C 2020-03-18          9043.0       148.0    2020-03-16
8247  France_C 2020-03-19         10871.0       243.0    2020-03-16
8248  France_C 2020-03-20         12612.0       450.0    2020-03-16
8249  France_C 2020-03-21         14282.0       562.0    2020-03-16

      Lockdown_Type  Lockdown_Status
8190            2.0               0.0
8191            2.0               0.0
8192            2.0               0.0
8193            2.0               0.0
8194            2.0               0.0
8195            2.0               0.0
8196            2.0               0.0
8197            2.0               0.0
8198            2.0               0.0
8199            2.0               0.0
8200            2.0               0.0
8201            2.0               0.0
8202            2.0               0.0
8203            2.0               0.0
8204            2.0               0.0
8205            2.0               0.0
8206            2.0               0.0
8207            2.0               0.0
8208            2.0               0.0
8209            2.0               0.0
8210            2.0               0.0
8211            2.0               0.0
8212            2.0               0.0
8213            2.0               0.0
8214            2.0               0.0
8215            2.0               0.0
8216            2.0               0.0
8217            2.0               0.0
8218            2.0               0.0
8219            2.0               0.0
8220            2.0               0.0
8221            2.0               0.0
8222            2.0               0.0
8223            2.0               0.0
8224            2.0               0.0
8225            2.0               0.0
8226            2.0               0.0
8227            2.0               0.0
8228            2.0               0.0
8229            2.0               0.0
8230            2.0               0.0
8231            2.0               0.0
8232            2.0               0.0
8233            2.0               0.0
8234            2.0               0.0
8235            2.0               0.0
8236            2.0               0.0
8237            2.0               0.0
8238            2.0               0.0
8239            2.0               0.0
8240            2.0               0.0
8241            2.0               0.0
8242            2.0               0.0
8243            2.0               0.0
8244            2.0               2.0
8245            2.0               2.0
8246            2.0               2.0
8247            2.0               2.0
8248            2.0               2.0
8249            2.0               2.0

In [116]:
merged.drop(["Lockdown_Date", "Lockdown_Type"], axis=1, inplace=True)

In [118]:
merged

            Location       Date  ConfirmedCases  Fatalities  Lockdown_Status
0      Afghanistan_C 2020-01-22             0.0         0.0               0.0
1      Afghanistan_C 2020-01-23             0.0         0.0               0.0
2      Afghanistan_C 2020-01-24             0.0         0.0               0.0
3      Afghanistan_C 2020-01-25             0.0         0.0               0.0
4      Afghanistan_C 2020-01-26             0.0         0.0               0.0
...              ...        ...             ...         ...               ...
20575     Zimbabwe_C 2020-03-27             5.0         1.0               2.0
20576     Zimbabwe_C 2020-03-28             7.0         1.0               2.0
20577     Zimbabwe_C 2020-03-29             7.0         1.0               2.0
20578     Zimbabwe_C 2020-03-30             7.0         1.0               2.0
20579     Zimbabwe_C 2020-03-31             8.0         1.0               2.0

[20580 rows x 5 columns]

Testing data taken from https://github.com/owid/covid-19-data/tree/master/public/data/

In [246]:
second_testing = pd.read_csv("testing.csv")

In [256]:
second_testing[second_testing["location"] =="Argentina"]

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
429,ARG,Argentina,2020-03-04,1,1,0,0,0.022,0.022,0.000,0.000,NaN,NaN,NaN,NaN,NaN
430,ARG,Argentina,2020-03-06,2,1,0,0,0.044,0.022,0.000,0.000,NaN,NaN,NaN,NaN,NaN
431,ARG,Argentina,2020-03-07,8,6,0,0,0.177,0.133,0.000,0.000,NaN,NaN,NaN,NaN,NaN
432,ARG,Argentina,2020-03-08,9,1,1,1,0.199,0.022,0.022,0.022,NaN,NaN,NaN,NaN,NaN
433,ARG,Argentina,2020-03-09,12,3,1,0,0.266,0.066,0.022,0.000,NaN,NaN,NaN,NaN,NaN
434,ARG,Argentina,2020-03-11,19,7,1,0,0.420,0.155,0.022,0.000,NaN,NaN,NaN,NaN,NaN
435,ARG,Argentina,2020-03-13,31,12,1,0,0.686,0.266,0.022,0.000,NaN,NaN,NaN,NaN,NaN
436,ARG,Argentina,2020-03-14,34,3,2,1,0.752,0.066,0.044,0.022,NaN,NaN,NaN,NaN,NaN
437,ARG,Argentina,2020-03-15,45,11,2,0,0.996,0.243,0.044,0.000,NaN,NaN,NaN,NaN,NaN
438,ARG,Argentina,2020-03-16,56,11,2,0,1.239,0.243,0.044,0.000,NaN,NaN,NaN,NaN,NaN
439,ARG,Argentina,2020-03-17,65,9,2,0,1.438,0.199,0.044,0.000,NaN,NaN,NaN,NaN,NaN
440,ARG,Argentina,2020-03-18,79,14,2,0,1.748,0.310,0.044,0.000,NaN,NaN,NaN,NaN,NaN
441,ARG,Argentina,2020-03-19,97,18,2,0,2.146,0.398,0.044,0.000,NaN,NaN,NaN,NaN,NaN
442,ARG,Argentina,2020-03-20,128,31,3,1,2.832,0.686,0.066,0.022,NaN,NaN,NaN,NaN,NaN
443,ARG,Argentina,2020-03-21,158,30,3,0,3.496,0.664,0.066,0.000,NaN,NaN,NaN,NaN,NaN
444,ARG,Argentina,2020-03-22,225,67,4,1,4.978,1.482,0.089,0.022,NaN,NaN,NaN,NaN,NaN
445,ARG,Argentina,2020-03-23,266,41,4,0,5.886,0.907,0.089,0.000,NaN,NaN,NaN,NaN,NaN
446,ARG,Argentina,2020-03-24,301,35,4,0,6.660,0.774,0.089,0.000,NaN,NaN,NaN,NaN,NaN
447,ARG,Argentina,2020-03-25,387,86,6,2,8.563,1.903,0.133,0.044,NaN,NaN,NaN,NaN,NaN
448,ARG,Argentina,2020-03-26,502,115,8,2,11.107,2.544,0.177,0.044,NaN,NaN,NaN,NaN,NaN
449,ARG,Argentina,2020-03-27,589,87,12,4,13.032,1.925,0.266,0.089,NaN,NaN,NaN,NaN,NaN
450,ARG,Argentina,2020-03-28,690,101,17,5,15.267,2.235,0.376,0.111,NaN,NaN,NaN,NaN,NaN
451,ARG,Argentina,2020-03-29,745,55,19,2,16.484,1.217,0.420,0.044,NaN,NaN,NaN,NaN,NaN
452,ARG,Argentina,2020-03-30,820,75,20,1,18.143,1.659,0.443,0.022,NaN,NaN,NaN,NaN,NaN
453,ARG,Argentina,2020-03-31,966,146,24,4,21.374,3.230,0.531,0.089,NaN,NaN,NaN,NaN,NaN
454,ARG,Argentina,2020-04-01,966,0,24,0,21.374,0.000,0.531,0.000,NaN,NaN,NaN,NaN,NaN
455,ARG,Argentina,2020-04-02,1133,167,31,7,25.069,3.695,0.686,0.155,NaN,NaN,NaN,NaN,NaN
456,ARG,Argentina,2020-04-03,1133,0,34,3,25.069,0.000,0.752,0.066,NaN,NaN,NaN,NaN,NaN
457,ARG,Argentina,2020-04-04,1265,132,37,3,27.989,2.921,0.819,0.066,NaN,NaN,NaN,NaN,NaN
458,ARG,Argentina,2020-04-05,1451,186,43,6,32.105,4.115,0.951,0.133,NaN,NaN,NaN,NaN,NaN
459,ARG,Argentina,2020-04-06,1554,103,46,3,34.384,2.279,1.018,0.066,NaN,NaN,NaN,NaN,NaN
460,ARG,Argentina,2020-04-07,1628,74,53,7,36.021,1.637,1.173,0.155,NaN,NaN,NaN,NaN,NaN
461,ARG,Argentina,2020-04-08,1715,87,60,7,37.946,1.925,1.328,0.155,13330.0,NaN,0.295,NaN,tests performed
462,ARG,Argentina,2020-04-09,1795,80,65,5,39.716,1.770,1.438,0.111,14850.0,1520.0,0.329,0.034,tests performed
463,ARG,Argentina,2020-04-10,1894,99,79,14,41.907,2.190,1.748,0.310,16379.0,1529.0,0.362,0.034,tests performed
464,ARG,Argentina,2020-04-11,1975,81,82,3,43.699,1.792,1.814,0.066,18027.0,1648.0,0.399,0.036,tests performed
465,ARG,Argentina,2020-04-12,2137,162,89,7,47.283,3.584,1.969,0.155,NaN,NaN,NaN,NaN,NaN
466,ARG,Argentina,2020-04-13,2203,66,95,6,48.743,1.460,2.102,0.133,19758.0,NaN,0.437,NaN,tests performed
467,ARG,Argentina,2020-04-14,2272,69,98,3,50.270,1.527,2.168,0.066,22805.0,3047.0,0.505,0.067,tests performed
468,ARG,Argentina,2020-04-15,2432,160,105,7,53.810,3.540,2.323,0.155,24374.0,1569.0,0.539,0.035,tests performed
469,ARG,Argentina,2020-04-16,2432,0,109,4,53.810,0.000,2.412,0.089,26457.0,2083.0,0.585,0.046,tests performed
470,ARG,Argentina,2020-04-17,2560,128,115,6,56.642,2.832,2.544,0.133,28650.0,2193.0,0.634,0.049,tests performed
471,ARG,Argentina,2020-04-18,2658,98,122,7,58.811,2.168,2.699,0.155,30942.0,2292.0,0.685,0.051,tests performed
472,ARG,Argentina,2020-04-19,2828,170,132,10,62.572,3.761,2.921,0.221,32712.0,1770.0,0.724,0.039,tests performed
473,ARG,Argentina,2020-04-20,2930,102,134,2,64.829,2.257,2.965,0.044,34568.0,1856.0,0.765,0.041,tests performed
474,ARG,Argentina,2020-04-21,3020,90,142,8,66.820,1.991,3.142,0.177,36611.0,2043.0,0.810,0.045,tests performed
475,ARG,Argentina,2020-04-22,3132,112,151,9,69.299,2.478,3.341,0.199,39228.0,2617.0,0.868,0.058,tests performed
476,ARG,Argentina,2020-04-23,3276,144,159,8,72.485,3.186,3.518,0.177,41786.0,2558.0,0.925,0.057,tests performed
477,ARG,Argentina,2020-04-24,3423,147,165,6,75.737,3.253,3.651,0.133,44654.0,2868.0,0.988,0.063,tests performed
478,ARG,Argentina,2020-04-25,3423,0,167,2,75.737,0.000,3.695,0.044,47406.0,2752.0,1.049,0.061,tests performed
479,ARG,Argentina,2020-04-26,3767,344,185,18,83.348,7.611,4.093,0.398,49905.0,2499.0,1.104,0.055,tests performed
480,ARG,Argentina,2020-04-27,3767,0,186,1,83.348,0.000,4.115,0.022,51900.0,1995.0,1.148,0.044,tests performed
481,ARG,Argentina,2020-04-28,3990,223,197,11,88.283,4.934,4.359,0.243,53600.0,1700.0,1.186,0.038,tests performed

In [259]:
testing = pd.read_csv("full-list-total-tests-for-covid-19.csv")

In [260]:
len(testing.Entity.unique())

84

In [261]:
testing["Date"] = pd.to_datetime(testing['Date'])

In [262]:
testing

         Entity Code       Date  Total tests
0     Argentina  ARG 2020-04-08        13330
1     Argentina  ARG 2020-04-09        14850
2     Argentina  ARG 2020-04-10        16379
3     Argentina  ARG 2020-04-11        18027
4     Argentina  ARG 2020-04-13        19758
...         ...  ...        ...          ...
3417    Vietnam  VNM 2020-04-15       135938
3418    Vietnam  VNM 2020-04-19       163377
3419    Vietnam  VNM 2020-04-21       180067
3420    Vietnam  VNM 2020-04-23       189253
3421    Vietnam  VNM 2020-04-25       212142

[3422 rows x 4 columns]

In [187]:
list_of_countries = input_data["Country_Region"].unique()

In [263]:
testing.columns = ['Location', 'Code', 'Date', 'Total tests']

In [264]:
testing["Location"] = [x + "_C" if x in list_of_countries else  x for x in testing["Location"]]

In [265]:
second_merged = pd.merge(merged, testing, how="left", on=["Location", "Date"])

In [266]:
second_merged.drop("Code", axis=1, inplace=True)

In [227]:
second_merged[~pd.isna(second_merged["Total tests"])]

,Location,Date,ConfirmedCases,Fatalities,Lockdown_Status,Total tests
1154,Austria_C,2020-02-25,2.0,0.0,0.0,218.0
1155,Austria_C,2020-02-26,2.0,0.0,0.0,321.0
1156,Austria_C,2020-02-27,3.0,0.0,0.0,447.0
1157,Austria_C,2020-02-28,3.0,0.0,0.0,763.0
1158,Austria_C,2020-02-29,9.0,0.0,0.0,1649.0
...,...,...,...,...,...,...
20430,Vietnam_C,2020-03-22,113.0,0.0,2.0,17148.0
20432,Vietnam_C,2020-03-24,134.0,0.0,2.0,24311.0
20433,Vietnam_C,2020-03-25,141.0,0.0,2.0,30548.0
20434,Vietnam_C,2020-03-26,153.0,0.0,2.0,31881.0
20435,Vietnam_C,2020-03-27,163.0,0.0,2.0,35808.0

In [267]:
second_merged["Total tests"].fillna(-1, inplace=True)

In [268]:
second_merged

,Location,Date,ConfirmedCases,Fatalities,Lockdown_Status,Total tests
0,Afghanistan_C,2020-01-22,0.0,0.0,0.0,-1.0
1,Afghanistan_C,2020-01-23,0.0,0.0,0.0,-1.0
2,Afghanistan_C,2020-01-24,0.0,0.0,0.0,-1.0
3,Afghanistan_C,2020-01-25,0.0,0.0,0.0,-1.0
4,Afghanistan_C,2020-01-26,0.0,0.0,0.0,-1.0
...,...,...,...,...,...,...
20575,Zimbabwe_C,2020-03-27,5.0,1.0,2.0,-1.0
20576,Zimbabwe_C,2020-03-28,7.0,1.0,2.0,-1.0
20577,Zimbabwe_C,2020-03-29,7.0,1.0,2.0,-1.0
20578,Zimbabwe_C,2020-03-30,7.0,1.0,2.0,-1.0
20579,Zimbabwe_C,2020-03-31,8.0,1.0,2.0,-1.0

In [162]:
cinfo = pd.read_csv("covid19countryinfo.csv")

In [232]:
cinfo["firstcase"]

0      2/23/2020
1       3/7/2020
2      2/24/2020
3       3/1/2020
4      3/12/2020
         ...
244          NaN
245          NaN
246          NaN
247          NaN
248          NaN
Name: firstcase, Length: 249, dtype: object

In [164]:
cinfo["country"] = cinfo["country"] + "_C"

In [165]:
cinfo.region.fillna(cinfo.country, inplace=True)

In [166]:
cinfo.drop("country", axis=1, inplace=True)

In [167]:
cinfo.columns = ['Location' if x=='region' else x for x in cinfo.columns]

In [169]:
cinfo.drop(["alpha3code", "alpha2code"], axis=1, inplace=True)

In [269]:
cinfo.columns

Index(['Location', 'pop', 'tests', 'testpop', 'density', 'medianage',
       'urbanpop', 'quarantine', 'schools', 'publicplace', 'gatheringlimit',
       'gathering', 'nonessential', 'hospibed', 'smokers', 'sex0', 'sex14',
       'sex25', 'sex54', 'sex64', 'sex65plus', 'sexratio', 'lung',
       'femalelung', 'malelung', 'gdp2019', 'healthexp', 'healthperpop',
       'fertility', 'avgtemp', 'avghumidity', 'firstcase', 'totalcases',
       'active30', 'active31', 'active1', 'active2', 'active3', 'newcases30',
       'newcases31', 'newcases1', 'newcases2', 'newcases3', 'deaths',
       'newdeaths30', 'newdeaths31', 'newdeaths1', 'newdeaths2', 'newdeaths3',
       'recovered', 'critical30', 'critical31', 'critical1', 'critical2',
       'critical3', 'casediv1m', 'deathdiv1m'],
      dtype='object')

In [280]:
list_to_remove = ['quarantine', 'schools', 'publicplace', 'gatheringlimit',
       'gathering', 'nonessential', 'firstcase','totalcases','tests', 'testpop',
       'active30', 'active31', 'active1', 'active2', 'active3', 'newcases30',
       'newcases31', 'newcases1', 'newcases2', 'newcases3', 'deaths',
       'newdeaths30', 'newdeaths31', 'newdeaths1', 'newdeaths2', 'newdeaths3',
       'recovered', 'critical30', 'critical31', 'critical1', 'critical2',
       'critical3', 'casediv1m', 'deathdiv1m']

In [271]:
cinfo.drop(list_to_remove, axis=1, inplace=True)

In [282]:
cinfo.columns

Index(['Location', 'pop', 'density', 'medianage', 'urbanpop', 'hospibed',
       'smokers', 'sex0', 'sex14', 'sex25', 'sex54', 'sex64', 'sex65plus',
       'sexratio', 'lung', 'femalelung', 'malelung', 'gdp2019', 'healthexp',
       'healthperpop', 'fertility', 'avgtemp', 'avghumidity'],
      dtype='object')

In [283]:
cinfo.fillna(-1, inplace=True)

In [284]:
cinfo

,Location,pop,density,medianage,urbanpop,hospibed,smokers,sex0,sex14,sex25,...,sexratio,lung,femalelung,malelung,gdp2019,healthexp,healthperpop,fertility,avgtemp,avghumidity
0,Afghanistan_C,"38,928,346",60.0,18.0,25.0,0.5,-1.0,1.05,1.03,1.03,...,1.03,37.62,36.31,39.33,"18,734",184,4.726633,5.12,6.216667,56.933333
1,Albania_C,"2,877,797",105.0,36.0,63.0,2.9,29.4,1.08,1.11,1.09,...,0.98,11.67,7.02,17.04,"15,418",774,268.955733,1.51,13.950000,69.900000
2,Algeria_C,"43,851,044",18.0,29.0,73.0,1.9,-1.0,1.05,1.05,1.05,...,1.03,8.77,5.03,12.81,"172,781","1,031",23.511413,2.70,19.566667,61.716667
3,Andorra_C,"77,265",164.0,45.0,88.0,2.5,32.5,1.07,1.05,1.08,...,1.06,-1.00,-1.00,-1.00,"91,527","5,949",76994.758300,1.40,7.383333,75.233333
4,Antigua and Barbuda_C,"97,929",223.0,34.0,26.0,3.8,-1.0,1.05,1.03,0.99,...,0.90,11.76,7.67,18.78,"1,688","1,105",11283.685120,2.00,-1.000000,-1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,Washington,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,...,-1.00,-1.00,-1.00,-1.00,-1,-1,-1.000000,-1.00,-1.000000,-1.000000
245,Washington DC,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,...,-1.00,-1.00,-1.00,-1.00,-1,-1,-1.000000,-1.00,-1.000000,-1.000000
246,West Virginia,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,...,-1.00,-1.00,-1.00,-1.00,-1,-1,-1.000000,-1.00,-1.000000,-1.000000
247,Wisconsin,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,...,-1.00,-1.00,-1.00,-1.00,-1,-1,-1.000000,-1.00,-1.000000,-1.000000
248,Wyoming,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,...,-1.00,-1.00,-1.00,-1.00,-1,-1,-1.000000,-1.00,-1.000000,-1.000000

In [285]:
merging = pd.merge(second_merged, cinfo, on='Location', how="left")

In [286]:
merging

,Location,Date,ConfirmedCases,Fatalities,Lockdown_Status,Total tests,pop,density,medianage,urbanpop,...,sexratio,lung,femalelung,malelung,gdp2019,healthexp,healthperpop,fertility,avgtemp,avghumidity
0,Afghanistan_C,2020-01-22,0.0,0.0,0.0,-1.0,"38,928,346",60.0,18.0,25.0,...,1.03,37.62,36.31,39.33,"18,734",184,4.726633,5.12,6.216667,56.933333
1,Afghanistan_C,2020-01-23,0.0,0.0,0.0,-1.0,"38,928,346",60.0,18.0,25.0,...,1.03,37.62,36.31,39.33,"18,734",184,4.726633,5.12,6.216667,56.933333
2,Afghanistan_C,2020-01-24,0.0,0.0,0.0,-1.0,"38,928,346",60.0,18.0,25.0,...,1.03,37.62,36.31,39.33,"18,734",184,4.726633,5.12,6.216667,56.933333
3,Afghanistan_C,2020-01-25,0.0,0.0,0.0,-1.0,"38,928,346",60.0,18.0,25.0,...,1.03,37.62,36.31,39.33,"18,734",184,4.726633,5.12,6.216667,56.933333
4,Afghanistan_C,2020-01-26,0.0,0.0,0.0,-1.0,"38,928,346",60.0,18.0,25.0,...,1.03,37.62,36.31,39.33,"18,734",184,4.726633,5.12,6.216667,56.933333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20575,Zimbabwe_C,2020-03-27,5.0,1.0,2.0,-1.0,"14,862,924",38.0,18.7,38.4,...,1.01,22.53,19.31,26.47,"12,818",182,12.245235,3.63,-1.000000,-1.000000
20576,Zimbabwe_C,2020-03-28,7.0,1.0,2.0,-1.0,"14,862,924",38.0,18.7,38.4,...,1.01,22.53,19.31,26.47,"12,818",182,12.245235,3.63,-1.000000,-1.000000
20577,Zimbabwe_C,2020-03-29,7.0,1.0,2.0,-1.0,"14,862,924",38.0,18.7,38.4,...,1.01,22.53,19.31,26.47,"12,818",182,12.245235,3.63,-1.000000,-1.000000
20578,Zimbabwe_C,2020-03-30,7.0,1.0,2.0,-1.0,"14,862,924",38.0,18.7,38.4,...,1.01,22.53,19.31,26.47,"12,818",182,12.245235,3.63,-1.000000,-1.000000
20579,Zimbabwe_C,2020-03-31,8.0,1.0,2.0,-1.0,"14,862,924",38.0,18.7,38.4,...,1.01,22.53,19.31,26.47,"12,818",182,12.245235,3.63,-1.000000,-1.000000

In [290]:
merging.fillna(-1, inplace=True)

In [293]:
merging.isnull().values.any()

False

In [312]:
merging.dtypes

Location                    object
Date                datetime64[ns]
ConfirmedCases             float64
Fatalities                 float64
Lockdown_Status            float64
Total tests                float64
pop                        float64
density                    float64
medianage                  float64
urbanpop                   float64
hospibed                   float64
smokers                    float64
sex0                       float64
sex14                      float64
sex25                      float64
sex54                      float64
sex64                      float64
sex65plus                  float64
sexratio                   float64
lung                       float64
femalelung                 float64
malelung                   float64
gdp2019                    float64
healthexp                  float64
healthperpop               float64
fertility                  float64
avgtemp                    float64
avghumidity                float64
dtype: object

In [309]:
merging

,Location,Date,ConfirmedCases,Fatalities,Lockdown_Status,Total tests,pop,density,medianage,urbanpop,...,sexratio,lung,femalelung,malelung,gdp2019,healthexp,healthperpop,fertility,avgtemp,avghumidity
0,Afghanistan_C,2020-01-22,0.0,0.0,0.0,-1.0,38928346,60.0,18.0,25.0,...,1.03,37.62,36.31,39.33,18734,184,4.726633,5.12,6.216667,56.933333
1,Afghanistan_C,2020-01-23,0.0,0.0,0.0,-1.0,38928346,60.0,18.0,25.0,...,1.03,37.62,36.31,39.33,18734,184,4.726633,5.12,6.216667,56.933333
2,Afghanistan_C,2020-01-24,0.0,0.0,0.0,-1.0,38928346,60.0,18.0,25.0,...,1.03,37.62,36.31,39.33,18734,184,4.726633,5.12,6.216667,56.933333
3,Afghanistan_C,2020-01-25,0.0,0.0,0.0,-1.0,38928346,60.0,18.0,25.0,...,1.03,37.62,36.31,39.33,18734,184,4.726633,5.12,6.216667,56.933333
4,Afghanistan_C,2020-01-26,0.0,0.0,0.0,-1.0,38928346,60.0,18.0,25.0,...,1.03,37.62,36.31,39.33,18734,184,4.726633,5.12,6.216667,56.933333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20575,Zimbabwe_C,2020-03-27,5.0,1.0,2.0,-1.0,14862924,38.0,18.7,38.4,...,1.01,22.53,19.31,26.47,12818,182,12.245235,3.63,-1.000000,-1.000000
20576,Zimbabwe_C,2020-03-28,7.0,1.0,2.0,-1.0,14862924,38.0,18.7,38.4,...,1.01,22.53,19.31,26.47,12818,182,12.245235,3.63,-1.000000,-1.000000
20577,Zimbabwe_C,2020-03-29,7.0,1.0,2.0,-1.0,14862924,38.0,18.7,38.4,...,1.01,22.53,19.31,26.47,12818,182,12.245235,3.63,-1.000000,-1.000000
20578,Zimbabwe_C,2020-03-30,7.0,1.0,2.0,-1.0,14862924,38.0,18.7,38.4,...,1.01,22.53,19.31,26.47,12818,182,12.245235,3.63,-1.000000,-1.000000
20579,Zimbabwe_C,2020-03-31,8.0,1.0,2.0,-1.0,14862924,38.0,18.7,38.4,...,1.01,22.53,19.31,26.47,12818,182,12.245235,3.63,-1.000000,-1.000000

In [311]:
convert_list = ["pop", "gdp2019", "healthexp"]
for i in convert_list:
    merging[i] = [str(x).replace(",", "") for x in merging[i]] 

merging[convert_list] = merging[convert_list].astype('float64')

In [196]:
test

       ForecastId Province_State Country_Region        Date
0               1            NaN    Afghanistan  2020-03-19
1               2            NaN    Afghanistan  2020-03-20
2               3            NaN    Afghanistan  2020-03-21
3               4            NaN    Afghanistan  2020-03-22
4               5            NaN    Afghanistan  2020-03-23
...           ...            ...            ...         ...
12637       12638            NaN       Zimbabwe  2020-04-26
12638       12639            NaN       Zimbabwe  2020-04-27
12639       12640            NaN       Zimbabwe  2020-04-28
12640       12641            NaN       Zimbabwe  2020-04-29
12641       12642            NaN       Zimbabwe  2020-04-30

[12642 rows x 4 columns]

In [ ]:
regr = LogisticRegression()

In [ ]:
Y = new_data[["ConfirmedCases", "Fatalities"]]

In [ ]:
X = new_data.copy()

In [ ]:
X = X.drop(["ConfirmedCases","Fatalities"], axis=1)

In [ ]:
Y

In [ ]:
X

In [ ]:
regr = LinearRegression()

In [ ]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(regr, X, Y, cv=5, scoring='neg_root_mean_squared_error')
scores

In [38]:
test = pd.read_csv("test.csv")

In [39]:
test

       ForecastId Province_State Country_Region        Date
0               1            NaN    Afghanistan  2020-03-19
1               2            NaN    Afghanistan  2020-03-20
2               3            NaN    Afghanistan  2020-03-21
3               4            NaN    Afghanistan  2020-03-22
4               5            NaN    Afghanistan  2020-03-23
...           ...            ...            ...         ...
12637       12638            NaN       Zimbabwe  2020-04-26
12638       12639            NaN       Zimbabwe  2020-04-27
12639       12640            NaN       Zimbabwe  2020-04-28
12640       12641            NaN       Zimbabwe  2020-04-29
12641       12642            NaN       Zimbabwe  2020-04-30

[12642 rows x 4 columns]

In [37]:
str(min(test["Date"])) + " " + str(max(test["Date"]))

'2020-03-19 2020-04-30'

In [39]:
str(min(input_data["Date"])) + " " + str(max(input_data["Date"]))

'2020-01-22 00:00:00 2020-03-31 00:00:00'